body {
    background-color: pink;
    text-align: center;
    }
    
    h1 {
    color: white;
    }
    
    .pres {
    color: white;
    width: 200;
    }
    h2 {
    color: white;
    }
    
    #picture {
    width: 200px;
    }